body{
    background-color: #aad4cf;
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Make the wrapper part has the same width as the image in the top. */
.wrapper{
    max-width:1004px;
    margin: 0 auto;
}

/* Add the lighter blue in the div part. */
/* Add 10px space in both left and right sides. */
div{
    background-color: #d8e9e7;
    padding-left: 10px;
    padding-right: 10px;
}

header h1{
    color:#fff;
    font-size: 4rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 68px;
}

nav ul li{
    margin-left: 110px;
    display: inline-block;
    width: auto;
    list-style-type: none;
    margin-top: 5px;
    font-size: 1.5em;
} 

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: black;
}

/* Add "|" after 1th and 2th child, not 3th child */
nav ul li:nth-child(1) ::after{
    content: "|";
    margin-left: 110px;
}

nav ul li:nth-child(2) ::after{
    content: "|";
    margin-left: 110px;
}

nav ul li:nth-child(3){
    margin-left: 110px;
}

h2{
    font-size: 2em;
    font-weight: lighter;
}

/* Make sure image is on the left and surrounded by texts. */
.float img{
    width: 210px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box{
    width: 100%;
    height: 420px;
    border-style: solid;
    border-width: 1px;
    padding-top: 25px;
}

/* Make each input fit in one line. */
#name, #email, #message{
    width: 99.5%;
    margin: 10px 0;
    padding: 5px 0;
}

#message{
    height: 70px;
}

.question{
    font-size: 20px;
}

.button{
    background-color: #d8e9e7;
    border: 1px solid black;
    height: 40px;
    margin-top: 20px;

}

footer{
    margin-top: 40px;
    margin-left: 850px;
    margin-bottom: 25px;
    padding-bottom: 40px;
}