/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    max-width: 1200px;
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* big range changes */
h1{
    font-size: 5rem;
    color: white;
    font-weight: bold;
    line-height: 1.3;
    margin-left: 15px;
}

h2{
    font-size: 3rem;
    font-weight: bold;
    margin: 30px 15px;
}

h3{
    font-size: 2rem;
    font-weight: bold;
    margin: 25px 15px;
}

p{
    line-height: 1.3; 
}

.wrapper{
    background-color: #222;
    padding-top: 15px;
}

.button p{
    color: white;
    font-size: 1.5rem;
}

.button{
    background-color: #222;
    border: none;
    display: inline-block;
    margin: 15px 15px;
    padding: 30px 25px;
}

p i{
    margin-left: 10px;
}

.box{
    width: 95%;
}

.box img{
    width: 100%;
}

/* heading part */
.stage{
    width: 95%;
    height: 150px;
    margin-left: 15px;
    padding-top: 15px;
    background-color: #c78c06;
}

.logo{
    width: 100px;
}

li a{
    display: block;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: #c78c06;
}

ul input{
    width: 85%;
    margin-left: 15px;
}

ul i{
    border: 1px solid #c78c06;
    color: #c78c06;
    font-size: 1.5rem;
    padding: 2px;
    padding-top: 2.5px;
    padding-bottom: 11px;
    padding-right: 11px;
}

.home{
    background-color: #c78c06;
    color: #222;
    width: 95%;
    margin-left: 15px;
}

/* welcome part */
.welcome{
    background-image: url(../images/main-banner.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-block{
    position: absolute;
    box-sizing: border-box;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center;
    background-size: cover;
    margin: 30px auto;
}

.text-block p{
    color: white;
    margin: auto 15px;
}

.connect-button p{
    color: black;
    font-size: 1.5rem;
    margin: 15px;
}

.connect-button{
    background-color: #c78c06;
    border: none;
    display: inline-block;
    margin: 15px 15px;
    padding: 20px 20px;
}

.bigbox{
    background-color: white;
}

/* about us */
.aboutus{
    background-color: #ffe6ac;
    padding-bottom: 15px;
}

.aboutus img{
    width: 95%;
    padding-left: 15px;
}

.aboutus p{
    margin-left: 15px;
}

/* 5 boxes */
.box{
    background-color: #ffe6ac;
    margin-bottom: 15px;
    margin-left: 15px;
    background-position: center;
}

.box-text p{
    margin-left: 15px;
}

/* our vision part */
.ourvision{
    background-image: url(../images/vision.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ourvision h3{
    color: white;
    padding-top: 30px;
}

.ourvision-text p{
    color: white;
    margin-left: 15px;
}

.ourvision .button{
    border: 1px solid #c78c06;
}

/* our team part */
.ourteam h4, p, hr{
    margin-left: 15px;
}

hr{
    border: 1px solid #c78c06;
}

.ourteam .bob-text, .john-text{
    background-color: #ffe6ac;
    padding-bottom: 15px;
}

.ourteam h4{
    font-weight: bold;
}

.john-text, .bob-text{
    margin-left: 15px;
    width: 95%;
    margin-bottom: 15px;
}

/* contact us part */
form{
    margin: 15px;
    display: block;
}

input{
    width: 96%;
    margin: 8px 0;
    padding: 10px;
}

#message{
    height: 100px;
}

.sendbutton{
    width: 80px;
    border: none;
    background-color: #222;
    color: #c78c06;
    font-size: x-large;
}

/* table part */
table{
    width: 95%;
    margin-left: 15px;
    height: 150px;
}

table, td, th{
    border: 1px solid;
}

th{
    background-color: #ecd9a8;
    vertical-align: middle;
}

td{
    padding-left: 20px;
    vertical-align: middle;
}

/* location part */
iframe{
    margin: 15px;
    width: 95%;
    height: 400px;
}

/* footer part */
footer{
    color: #c78c06;
    padding-top: 25px;
    padding-bottom: 15px;
}

footer p{
    line-height: 2.5;
}

@media screen and (min-width: 760px){
    .flex-container{
       display: flex; 
       flex-direction: row;
    }

   .aboutus img{
       float: left;
   }

   .boxes{
       display: grid;
       grid-template-columns: repeat(6, 16%);
       grid-template-rows: 670px 670px;
       align-items: flex-start;
   }
   .boxes .box:nth-child(1){
       grid-column: 1 / span 3;
       grid-row: 1/ span 1;
   }
   .boxes .box:nth-child(2){
    grid-column: 4 / span 3;
    grid-row: 1/ span 1;
    }

    .boxes .box:nth-child(3){
    grid-column: 1 / span 2;
    grid-row: 2/ span ;
    }
    .boxes .box:nth-child(4){
        grid-column: 3 / span 2;
        grid-row: 2/ span 2;
    }
    .boxes .box:nth-child(5){
        grid-column: 5 / span 2;
        grid-row: 2/ span 2;
    }

    .boxes4{
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: 280px 280px;
    }
    .boxes4 .box:nth-child(1){
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .john-text{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    .bob-text{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .boxes4 .box:nth-child(2){
        grid-column: 2 / span 1;
        grid-row: 2/ span 1;
    }
    
    .sendusbox{
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: 250px 250px 250px;
    }

    .sendum{
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }
    .location{
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

.table{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}


}