/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* big range changes */
h1{
    font-size: 5rem;
    color: white;
    font-weight: bold;
    line-height: 1.3;
    margin-left: 15px;
}

h2{
    font-size: 3rem;
    font-weight: bold;
    margin: 30px 15px;
}

h3{
    font-size: 2rem;
    font-weight: bold;
    margin: 25px 15px;
}

p{
    line-height: 1.3; 
}

.button p{
    color: white;
}

.button{
    background-color: #222;
    border: none;
    display: inline-block;
    margin: 15px 15px;
    padding: 30px 30px;
}

p i{
    margin-left: 15px;
}

.box{
    width: 95%;
}

.box img{
    width: 100%;
}

/* heading part */
.heading{
    background-color: #222;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
}

ul{
    overflow: hidden;
}

/* welcome part */
.welcome{
    background-image: url(../images/main-banner.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-block{
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center;
    background-size: cover;
    margin: 30px auto;
}

.text-block p{
    color: white;
    margin: auto 15px;
}

.connect-button p{
    color: black;
    font-size: 1.5rem;
    margin: 15px;
}

.connect-button{
    background-color: #c78c06;
    border: none;
    display: inline-block;
    margin: 15px 15px;
    padding: 20px 20px;
}

.bigbox{
    background-color: white;
}

/* about us */
.aboutus{
    background-color: #ffe6ac;
    padding-bottom: 15px;
}

.aboutus img{
    width: 95%;
    margin: 15px;
}

.aboutus p{
    margin-left: 15px;
}

/* 5 boxes */
.box{
    background-color: #ffe6ac;
    margin-bottom: 15px;
    margin-left: 15px;
    background-position: center;
}

.box-text p{
    margin-left: 15px;
}

/* our vision part */
.ourvision{
    background-image: url(../images/vision.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ourvision h3{
    color: white;
    padding-top: 30px;
}

.ourvision-text p{
    color: white;
    margin-left: 15px;
}

.ourvision .button{
    border: 1px solid #c78c06;
}

/* our team part */
.ourteam h4, p, hr{
    margin-left: 15px;
}

hr{
    border: 1px solid #c78c06;
}

.ourteam .box{
    background-color: #ffe6ac;
    padding-bottom: 15px;
}

.ourteam h4{
    font-weight: bold;
}

/* contact us part */
form{
    margin: 15px;
    display: block;
}

input{
    width: 96%;
    margin: 8px 0;
    padding: 10px;
}

.sendbutton{
    width: 80px;
    border: none;
    background-color: #222;
    color: #c78c06;
    font-size: x-large;
}

/* table part */
table{
    width: 95%;
    margin-left: 15px;
    height: 150px;
}

table, td, th{
    border: 1px solid;
}

th{
    background-color: #ecd9a8;
    vertical-align: middle;
}

td{
    padding-left: 20px;
    vertical-align: middle;
}

/* location part */
iframe{
    margin: 15px;
    width: 95%;
}

/* footer part */
footer{
    background-color: #222;
    color: #c78c06;
    padding-top: 25px;
    padding-bottom: 15px;
}

footer p{
    line-height: 2.5;
}