* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222222;
}

.heading{
    display: grid;
    padding: 3rem 8rem;
    grid-template-columns: repeat(8, 1fr);
}

nav ul{
    list-style-type: none;
    padding-left: 0;
}

.welcome-image{
    background-image: url(../images/main-banner.jpg);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-box{
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.8);
    background-position: center;
    margin: 50px 125px 50px 125px;
}

.welcome-text{
    color: rgba(255, 255, 255, 0.8);
    margin: auto 15px;
}

.welcome-text h1{
    font-size: 5rem;
    margin-right: 150px;
}

.connect-button{
    background-color: #be8e31;
    border: none;
    display: inline-block;
    margin: 15px 15px;
}

.connect-button p{
    margin: 30px 30px;
    font-size: 1.5rem;
}

.aboutus{
    background-color: #ecd9a8;
    height: 310px;
}

.aboutus img{
    padding: 15px 15px 15px 100px;
    height: 300px;
    float: left;
}

.aboutus h2{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3rem;
}

.aboutus p{
    padding-right: 200px;
}

.ourservices{
    background-color: white;
    padding: 50px 100px 30px 100px;
}

.ourservices h2{
    font-size: 3rem;
    margin: auto;
}

.box{
    background-color: #ecd9a8;
    width: 400px;
}

.box img{
    width: 400px;
}

h3{
    font-size: 2.5rem;
}

.box-text{
    padding-left: 15px;
}

.button p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 35px;
}

.button{
    background-color: #222222;
    border: none;
    display: inline-block;
    width: 370px;
    height: 100px;
    margin: 15px;
}

.ourvision{
    background-image: url(../images/vision.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ourvision-text{
    color: white;
    padding-top: 30px;
    padding-left: 100px;
}

.ourvision h3{
    font-size: 2.5rem;
    margin: auto;
    color: white;
}

.ourvision-button{
    background-color: #222222;
    border: solid 1px #be8e31;
    display: inline-block;
    height: 100px;
    width: 200px;
}

.ourvision-button p{
    text-align: center;
    margin-top: 35px;
    font-size: 1.5rem;

}

table{
    width: 80%;
    margin: 15px 100px;
    border-collapse: collapse;
    height: 200px;
}

table, td, th{
    border: 1px solid;
}

th{
    text-align: center;
    background-color: #ecd9a8;
}

footer, p{
    padding-left: 100px;
    color: #be8e31;
}